on:
  workflow_dispatch:
  schedule:
  - cron: '45 * * * *'    # <-- Set your cron here (UTC), for syntax see https://crontab.guru/

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      
      - uses: actions/checkout@master
        with:
            fetch-depth: 1

      - name: Set up Python 3.x
        uses: actions/setup-python@v4
        with:
            python-version: '3.x'

      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Process data 
        run: python main.py

      - name: commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git diff-index --quiet HEAD || (git commit -a -m "updated logs" --allow-empty)
          
      - name: push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main 

      - name: push changes
        run: python slack.py
